<div class="about">
  <p>
    This is a blog about BOATS and HOES.  If you are either a boat or a ho then you will find this blog super fucking interesting.  Otherwise, you will probably think this is rather offensive.
  </p>
</div>
